.center {
	text-align : center;
}
#uri-zone {
	width : 100%;
	margin-top : 50px;
	font-size : 14px;
} 
.uri-title, #uri {
	display : inline-flex;
}
.uri-title {
	width : 40px;
	float : left;
	margin-top : 5px;
}
#uri {
	width : calc(100% - 120px);
	border : 1px solid black;
 	resize : none;
    overflow : hidden;
    height : 32px;
    border-radius : 3px;
    padding : 2px;
}
#uri-parse {
	margin-left : 15px;
	float : right;
}
.hidden-span-element {
	display : inline-block;
	visibility : hidden;
	word-break : break-all;
}